{% extends "layout.html.twig" %}

{% block nav %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/admin/articles?page=1">Accueil administration</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/admin/articles?page=1">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/LogOut">Déconnection</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/bootstrap/img/riviere_alaska.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Billet simple pour l'Alaska</h1>
                        <span class="subheading">Administration du site</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block section %}
    <!-- Main Content -->

    <section class="col-sm-12 table-responsive">

        <table class="table table-bordered table-striped ">
            <h2 id="article">Commentaires signalés</h2>
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Commentaire</th>
                <th>article_id</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for commentaires in reportComment %}
                <tr>
                    <td>{{ commentaires.pseudo }}</td>
                    <td>{{ commentaires.commentaire }}</td>
                    <td>{{ commentaires.article_id }}</td>
                    <td>{{ commentaires.date_Comment|date('j F Y') }}</td>
                    <td class="alert-danger"><a href="/admin/DeleteCommentPage/{{ commentaires.id }}">Effacer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                      </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                      </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}