{% extends "layout.html.twig" %}


{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/bootstrap/img/rail_alaska.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1> {{ article.titre }} </h1>
                        <span class="meta">Posté par {{ article.auteur }}, {{ article.date_article|date('j F Y') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block section %}
    <!-- Pager -->
    <div class="post-preview row col-lg-8 col-xs-12 mx-auto">
        <div class="col-sm">
            {% if article.ordre > article.getFirstPost() %}
                <a class="btn btn-primary float-left" href="/article/{{article.getPreviousPost()}}?page=1">&larr; Précédent</a>
            {% endif %}
        </div>
        <div class="col-sm-6 col-xs-6">
            {% if article.ordre < article.getLastPost()   and  article.getLastPost() > article.getFirstPost() %}
                <a class="btn btn-primary float-right" href="/article/{{article.getNextPost()}}?page=1">Suivant &rarr;</a>
            {% endif %}
        </div>
    </div>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{ article.article|raw }}
                </div>
            </div>
        </div>
    </article>

    <!-- Pager -->
    <div class="post-preview row col-lg-8 col-xs-12 mx-auto">
        <div class="col-sm-5">
            {% if article.ordre>article.getFirstPost() %}
                <a class="btn btn-primary float-left" href="/article/{{article.getPreviousPost()}}?page=1">&larr; Précédent </a>
            {% endif %}
        </div>
        <div class="col-sm-2">
            <p class="badge ml-sm-3 mt-sm-3">Article {{ article.ordre }}/{{ article.getLastPost() }}</p>
        </div>
        <div class="col-sm-5">
            {% if article.ordre < article.getLastPost()  and  article.getLastPost() > article.getFirstPost() %}
                <a class="btn btn-primary float-right" href="/article/{{article.getNextPost()}}?page=1">Suivant &rarr;</a>
            {% endif %}
        </div>
    </div>

    <!-- Comments Form -->
    <div class="col-lg-6 mx-auto" id="form">
        <h5 class="card-header">Laissez un commentaire:</h5>

        <div class="card-body">
            <form name="newComment" method="post" action="/article/{{ article.id }}?page=1#form">
                <div class="form-group">
                    <div class="badge badge-danger">{{ erreur.pseudo }}</div>
                    <input type="text" name="pseudo" class="form-control" placeholder="pseudo" value="{{ newComment.pseudo }}" >
                    <div class="badge badge-danger">{{ erreur.commentaire }}</div>
                    <textarea class="form-control" name="commentaire" placeholder="commentaire" rows="3">{{ newComment.commentaire }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>

    <!-- Single Comment -->
    <div class="col-lg-8 mx-auto" id="commentaires">
        {% for commentaire in CommentOnPage%}
            <article>
                <div class="post-preview">
                    <h5 class="post-meta">{{ commentaire.pseudo }} le {{ commentaire.date_Comment|date('j F Y') }}</h5>
                    <p>{{ commentaire.commentaire }} <br><a class="post-meta small" href="/article/SignalComment/{{ commentaire.id }}?page={{ _get.page }}">signaler</a></p>
                </div>
            </article>
            <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="post-preview row">
            <div class="col-sm-5 ">
                {% if _get.page>1 %}
                    <a class="btn btn-primary float-left" href="/article/{{ article.id }}?page={{ _get.page-1 }}#commentaires">&larr; Plus récents </a>
                {% endif %}
            </div>
            <div class="col-sm-2 ">
                {% if (article.getNbrComment()/5) | round(0,'ceil') >1 %}
                    <p class="badge ml-sm-3 mt-sm-3">Page {{ _get.page }}/{{ (article.getNbrComment()/5) | round(0,'ceil') }}</p>
                {% endif %}
            </div>
            <div class="col-sm-5 ">
                {% if _get.page < (article.getNbrComment()/5) | round(0,'ceil') %}
                    <a class="btn btn-primary float-right" href="/article/{{ article.id }}?page={{ _get.page+1 }}#commentaires">Plus anciens &rarr;</a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
                    <p class="copyright text-muted"><a href="/LogIn">Administration</a></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}