{% extends "layout.html.twig" %}


{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/bootstrap/img/alaska.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1> {{ article.titre }} </h1>
                        <span class="meta">Posté par {{ article.auteur }}, {{ article.date_article|date('j F Y') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block section %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{ article.article|raw }}
                </div>
            </div>
        </div>
    </article>

    <!-- Comments Form -->
    <div class="col-lg-6 mx-auto">
        <h5 class="card-header">Laissez un commentaire:</h5>
        <div class="card-body">
            <form name="newComment" method="post" action="/article/AddComment/{{ article.id }}">
                <div class="form-group">
                    <input type="text" name="pseudo" class="form-control" placeholder="pseudo"  >
                    <textarea class="form-control" name="commentaire" placeholder="commentaire" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>

    <!-- Single Comment -->
    <div class="col-lg-8 mx-auto" id="commentaires">
        {% for commentaire in CommentOnPage%}
            <article>
                <div class="post-preview">
                    <h5 class="post-meta">{{ commentaire.pseudo }} le {{ commentaire.date_comment|date('j F Y') }}</h5>
                    <p>{{ commentaire.commentaire }} <br><a class="post-meta small" href="/article/SignalComment/{{ commentaire.id }}?page={{ _get.page }}">signaler</a></p>
                </div>
            </article>
            <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="post-preview row">
            <div class="col-sm-5 ">
                {% if _get.page>1 %}
                    <a class="btn btn-primary float-left" href="/article/{{ article.id }}?page={{ _get.page-1 }}#commentaires">&larr; Plus récents </a>
                {% endif %}
            </div>
            <div class="col-sm-2 ">
                {% if nbrPages>1 %}
                    <p class="badge ml-sm-3 mt-sm-3">Page {{ _get.page }}/{{ nbrPages }}</p>
                {% endif %}
            </div>
            <div class="col-sm-5 ">
                {% if _get.page<nbrPages %}
                    <a class="btn btn-primary float-right" href="/article/{{ article.id }}?page={{ _get.page+1 }}#commentaires">Plus anciens &rarr;</a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 mx-auto">
                    <a class="copyright text-muted" href="/LogIn">Administration</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}